@import "../styles/colors";

.post {
  @media screen and (max-width: 990px) {
    padding: 5px 25px;
  }
  border-radius: 2px;

  .content {
    padding: 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

    a {
      color: $light-blue;

      &:hover {
        color: $blue;
        text-decoration: none;
      }
    }
    @for $i from 2 through 6 {
      h#{$i} {
        font-size: 26 - $i * 2px;
        font-weight: 400;
        padding: 0.2em 0.4em;
        margin-top: 40px;
        margin-bottom: 15px;
      }
    }

    h1 {
      font-size: 24px;
      font-weight: 600;
      padding: 0.2em;
      border-bottom: solid 2px black;
      margin-bottom: 20px;
    }

    h2 {
      background: #f8fcf7;
      font-weight: 600;
      border-left: solid 4px #4a913c;
    }

    h3 {
      border-left: solid 3px #3c4a91;
    }

    h4 {
      border-left: solid 3px #0a1408;
    }

    h5 {
      border-left: solid 3px #0a1408;
    }

    .blockquote {
      max-width: 100%;
      width: 100%;
      word-break: break-word;
      caret-color: rgba(255, 255, 255, 0.9);
      margin: 10px 0;
      padding-left: 0.9em;
      padding-right: 0.9em;
      font-size: 0.9rem;
      box-sizing: border-box;
      font-style: italic;
      background: #efefef;
      color: #555;
    }
  }

  #gitalk-container {
    margin: 0 auto;
  }
}
