$blue: #0085a1;
$black: #404040;

.toc-wrap {
  margin-top: 10px;
  list-style: none;
  color: darkgrey;
  border-left: #eee 3px solid;
  padding-left: 12px;
  ul {
    padding-left: 10px;
    position: sticky; // Magic, please check MDN for more information 26-11-2017
    top: 80px;

    li {
      list-style-type: none;

      p {
        margin-bottom: 0;
      }

      a {
        color: $blue;
        font-size: 0.9em;

        &:hover {
          color: lighten($blue, 10%);
        }
      }
    }
  }
}
