$bg: #f4f4f4;
$white: #fff;
$gray: #bfbfbf;
$blue: #0085a1;
$san-juan: #2d4e68;
$pink: #ff7e79;
$darkolive-green: #0e6655;
$light-black: #404040;
$black: #000; // Blue
$cyan-blue: #8590a6;
$light-blue: #337ab7;
$regal-blue: #034378;
